# Pandas: grouping

In [1]:
import pandas as pd
import numpy as np

In [2]:
cars_df = pd.read_csv("data/vehicles.csv")

In [3]:
cars_df.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [4]:
cars_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

In [5]:
cars_df.shape

(35952, 15)

In [6]:
cars_df.describe()

,Year,Engine Displacement,Cylinders,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
count,35952.00000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000,35952.000000
mean,2000.71640,3.338493,5.765076,17.609056,17.646139,23.880646,19.929322,475.316339,1892.598465
std,10.08529,1.359395,1.755268,4.467283,4.769349,5.890876,5.112409,119.060773,506.958627
min,1984.00000,0.600000,2.000000,0.060000,6.000000,9.000000,7.000000,37.000000,600.000000
25%,1991.00000,2.200000,4.000000,14.699423,15.000000,20.000000,16.000000,395.000000,1500.000000
50%,2001.00000,3.000000,6.000000,17.347895,17.000000,24.000000,19.000000,467.736842,1850.000000
75%,2010.00000,4.300000,6.000000,20.600625,20.000000,27.000000,23.000000,555.437500,2200.000000
max,2017.00000,8.400000,16.000000,47.087143,58.000000,61.000000,56.000000,1269.571429,5800.000000

In [7]:
list(cars_df.columns)

['Make',
 'Model',
 'Year',
 'Engine Displacement',
 'Cylinders',
 'Transmission',
 'Drivetrain',
 'Vehicle Class',
 'Fuel Type',
 'Fuel Barrels/Year',
 'City MPG',
 'Highway MPG',
 'Combined MPG',
 'CO2 Emission Grams/Mile',
 'Fuel Cost/Year']

How many Car models?

In [8]:
### your code is here
count_models = cars_df.groupby("Model").count()
print (len(count_models))

3608

group by the data by the Make  using count function

In [9]:
### your code us here

make_count = cars_df.groupby("Make").count()
make_count

,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
Make,,,,,,,,,,,,,,
AM General,4,4,4,4,4,4,4,4,4,4,4,4,4,4
ASC Incorporated,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Acura,302,302,302,302,302,302,302,302,302,302,302,302,302,302
Alfa Romeo,41,41,41,41,41,41,41,41,41,41,41,41,41,41
American Motors Corporation,22,22,22,22,22,22,22,22,22,22,22,22,22,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Volkswagen,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047
Volvo,717,717,717,717,717,717,717,717,717,717,717,717,717,717
Wallace Environmental,32,32,32,32,32,32,32,32,32,32,32,32,32,32
Yugo,8,8,8,8,8,8,8,8,8,8,8,8,8,8
smart,20,20,20,20,20,20,20,20,20,20,20,20,20,20

Converting Grams/Mile to Grams/Km

1 Mile = 1.60934 Km

Grams/Mile * Mile/Km -> Grams/Mile * 1 Mile/1.60934Km

$$ \frac{Grams}{Mile} * \frac{Mile}{Km} $$

$$ \frac{Grams}{Mile} * \frac{1 Mile}{1.60934Km}  $$

convert MPG columns to km_per_liter

MPG = Miles/Gallon -> Km/Liter

1 Mile = 1.60934 Km

1 Gallon = 3.78541 Liters

$$ \frac{Miles}{Gallon} -> \frac{Miles}{Gallon} * \frac{Km}{Miles} * \frac{Gallon}{Liters}$$

$$ \frac{Miles}{Gallon} -> \frac{Miles}{Gallon} * \frac{1.60934Km}{ 1Miles} * \frac{1 Gallon}{3.78541 Liters}$$

* ( 1.60934 / 3.78541 )

What brand has the most cars?

In [10]:
### your code us here
cars_df.groupby('Make').apply(lambda gp:gp.max() )

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
Make,,,,,,,,,,,,,,,
AM General,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,18,17,17,683.615385,2550
ASC Incorporated,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
Acura,Acura,ZDX 4WD,2017,3.7,6.0,Manual 6-spd,Rear-Wheel Drive,Two Seaters,Regular,23.543571,39,38,38,634.785714,2400
Alfa Romeo,Alfa Romeo,Spider Veloce 2000,2016,4.7,8.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Regular,25.354615,24,34,28,683.615385,3100
American Motors Corporation,American Motors Corporation,Eagle SX/4 4WD,1987,4.2,6.0,Manual 5-spd,4-Wheel or All-Wheel Drive,Special Purpose Vehicles,Regular,20.600625,19,23,21,555.437500,2100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Volkswagen,Volkswagen,Vanagon/Camper 2WD,2017,6.0,12.0,Manual 6-spd,Rear-Wheel Drive,"Vans, Passenger Type",Regular,25.354615,42,48,45,683.615385,3100
Volvo,Volvo,XC90 FWD,2017,4.4,8.0,Manual 6-spd,Rear-Wheel Drive,Subcompact Cars,Regular,21.974000,26,38,30,592.466667,2700
Wallace Environmental,Wallace Environmental,Wetl Testarossa,1992,6.0,12.0,Manual 6-spd,Rear-Wheel Drive,Two Seaters,Premium,32.961000,17,22,19,888.700000,4050
Yugo,Yugo,Gy/yugo GVX,1990,1.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.330870,24,29,26,386.391304,1450
smart,smart,fortwo coupe,2017,1.0,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.694412,34,41,36,258.000000,1200

In [48]:
groupby_df = (cars_df.groupby(['Make'])['Model'].agg(['count']).sort_values(by='count', ascending=False).reset_index().drop_duplicates('Make', keep='first'))
groupby_df

                                   Make  count
0                             Chevrolet   3643
1                                  Ford   2946
2                                 Dodge   2360
3                                   GMC   2347
4                                Toyota   1836
..                                  ...    ...
122                     Excalibur Autos      1
123  S and S Coach Company  E.p. Dutton      1
124    Environmental Rsch and Devp Corp      1
125                  E. P. Dutton, Inc.      1
126              Lambda Control Systems      1

[127 rows x 2 columns]

<b>show the average CO2_Emission_Grams/Km  by Brand

In [12]:
### your code us here
cars_df["CO2 Emission Grams/Mile"] = cars_df["CO2 Emission Grams/Mile"]  /1.60934
cars_df.rename(columns = {"CO2 Emission Grams/Mile":"CO2 Emission Grams/Km"}, inplace = True)
cars_df

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Km,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,324.831736,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,424.779962,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,345.133719,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,424.779962,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,345.133719,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,151.614948,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,150.993575,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,151.614948,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,152.857693,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,158.450048,1150

In [15]:
#cars_df.groupby(["CO2 Emission Grams/Km"]).agg({"CO2 Emission Grams/Km":{"CO2 Emission Grams/Km AVG":"mean"}})

In [27]:
avg_CO2 = cars_df.groupby("Make").agg({"CO2 Emission Grams/Km":"mean"})

cars_df["CO2 Emission Grams/Km AVG"] = avg_CO2

avg_CO2

                             CO2 Emission Grams/Km
Make
AM General                              379.881345
ASC Incorporated                        345.133719
Acura                                   262.583000
Alfa Romeo                              288.287195
American Motors Corporation             314.264744
...                                            ...
Volkswagen                              244.038998
Volvo                                   270.796572
Wallace Environmental                   408.857065
Yugo                                    221.251107
smart                                   153.498052

[127 rows x 1 columns]

<b>show the average CO2_Emission_Grams/Km  by Brand ... sorted

In [35]:
### your code us here
sorted_val  = avg_CO2.sort_values("CO2 Emission Grams/Km", ascending = False)
sorted_val

                                    CO2 Emission Grams/Km
Make
Vector                                         651.919248
Superior Coaches Div E.p. Dutton               552.213951
S and S Coach Company  E.p. Dutton             552.213951
Bugatti                                        542.497235
Laforza Automobile Inc                         502.012683
...                                                   ...
MINI                                           194.935105
Daihatsu                                       192.742404
Fiat                                           189.311494
smart                                          153.498052
Fisker                                         105.011992

[127 rows x 1 columns]

(Optional) Use `pd.cut` or `pd.qcut` to create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade.

In [37]:
cars_df['Year'].describe()

count    35952.00000
mean      2000.71640
std         10.08529
min       1984.00000
25%       1991.00000
50%       2001.00000
75%       2010.00000
max       2017.00000
Name: Year, dtype: float64

In [58]:
#We want tto know how cars have evolved decade by decade
year_range = pd.cut(cars_df['Year'], bins=4, precision = 0).value_counts(sort=False)
year_range

(1984.0, 1992.0]    10155
(1992.0, 2000.0]     6940
(2000.0, 2009.0]     8575
(2009.0, 2017.0]    10282
Name: Year, dtype: int64

In [66]:
cars_df['year_range'] = pd.cut(x=cars_df['Year'], bins=[1980,1990,2000,2010,2020], labels=['80s','90s','20s','21s'])
cars_df


cars_df.groupby("year_range").agg({"Year":"count"})

             Year
year_range
80s          7926
90s          9169
20s         10866
21s          7991

### Did cars consume more gas in the eighties?

show the average City_Km/Liter by year_range

In [60]:
### your code is here
#convert MPG columns to km_per_liter
#City MPG, Highway MPG, Combined MPG
cars_df["City MPG"] = cars_df["City MPG"]  * ( 1.60934 / 3.78541)

#rename the 3 columns before
cars_df.rename(columns = {"City MPG":"city_km/liter"}
                        , inplace = True)
cars_df

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,city_km/liter,Highway MPG,Combined MPG,CO2 Emission Grams/Km,Fuel Cost/Year,CO2 Emission Grams/Mile,CO2 Emission Grams/Km AVG
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,7.652571,17,17,324.831736,1950,NaN,NaN
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,5.526857,13,13,424.779962,2550,NaN,NaN
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,6.802286,17,16,345.133719,2100,NaN,NaN
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,5.526857,13,13,424.779962,2550,NaN,NaN
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,5.952000,21,16,345.133719,2550,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.454857,38,36,151.614948,1100,NaN,NaN
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.454857,38,36,150.993575,1100,NaN,NaN
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.454857,38,36,151.614948,1100,NaN,NaN
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.454857,39,36,152.857693,1100,NaN,NaN
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,13.604571,39,35,158.450048,1150,NaN,NaN

In [62]:
 #the average City_Km/Liter by year_rang
cars_df.groupby("city_km/liter")["year_range"].agg('mean')

KeyError: 'Column not found: year_range'

Which brands are more environment friendly?

In [ ]:
### your code is here

Does the drivetrain affect fuel consumption?

In [ ]:
## Your Code here

Do cars with automatic transmission consume more fuel than cars with manual transmission?

In [ ]:
## Your Code here

Use `groupby` and `agg` with different aggregation measures for different columns:

aggregate with average City_Km/Liter and the count of the Trans

In [ ]:
## your code is here

aggregate with average City_Km/Liter and the minimum of the Trans

In [ ]:
### your code is here